.store_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 25px 0; */
  /* padding: 0 15px; */
  /* border: 1px solid red; */
}

.store_productWrapper {
  border: 1px solid #ad8c4c;
  height: 30vh;
  width: 20vw;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.store_addButtonWrapper {
  display: flex;
  /* border: 1px solid red; */
  height: 4h;
}

.store_addButton {
  background-color: black;
  color: white;
}

.store_productText {
  /* border: 1px solid green; */
  height: 26vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.store_productImg {
  height: 10vh;
  /* width: 10vw; */
}
