.cart_totalWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid yellow; */
  margin-top: 5vh;
}

.cart_wrapper {
  display: flex;
}

.cart_leftPanel {
  /* border: 1px solid red; */
  width: 65vw;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.cart_listItem {
  border-bottom: 0.5px solid #ad8c4c;
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: space-around;
}

.cart_cartItems {
  border: 0.5px solid #ad8c4c;
  width: 35vw;
}

.cart_title {
  /* border: 1px solid yellow; */
  display: flex;
  height: 5vh;
  align-items: center;
  background-color: #ad8c4c;
  /* justify-content: center; */
  padding-left: 1vw;
}

.cart_rightPanel {
  /* border: 1px solid green; */
  width: 35vw;
  margin-left: 5px;
}

.cart_rightInnerDiv {
  border: 1px solid purple;
  background-color: black;
  height: 35vh;
  width: 15vw;
}

.cart_rightBody {
  /* border: 1px solid red; */
  padding-left: 8px;
  height: 35vh;
}

#cart_textColor {
  color: white;
  border-bottom: 0.3px solid lightgray;
  height: 5vh;
}

.cart_summary {
  display: flex;
  align-items: center;
}

.cart_totalItems {
  display: flex;
  align-items: center;
}

.cart_totalPrice {
  display: flex;
  align-items: center;
}

.cart_itemImg {
  height: 50px;
  width: 50px;
}

.cart_checkoutButton {
  background-color: red;
  color: white;
  border: 50px;
  width: 10vw;
}
