.product_wrapper {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

/* .product_innerWrapper {
  border: 1px solid blue;
  height: 100vh;
  width: 70vw;
  display: flex;
} */

.product_leftPanel {
  border: 1px solid green;
  height: 100vh;
  /* width: 70vw; */
}

.product_rightPanel {
  border: 1px solid orange;
}
