.product_wrapper {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  padding-top: 7vh;
  /* align-items: center; */
  /* justify-content: center; */
}

/* .product_innerWrapper {
  border: 1px solid blue;
  height: 100vh;
  width: 70vw;
  display: flex;
} */

.product_leftPanel {
  border: 1px solid green;
  height: 100vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  padding-right: 25px;
}

/* .product_image{

} */

.product_rightPanel {
  border: 1px solid orange;
}

.product_name {
  font-size: 30px;
}
