.editModal__mainWrapper {
  width: 25vw;
  height: 30vh;
}

.editModal__wrapper {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.editModal__image {
  width: 40px;
}
